#link-box #link div {
    max-width: 400px;
    margin: 0 auto
}

#link-box #link img {
    float: left;
    margin-right: 16px
}

#link-box #link p {
    margin: 2px 0;
    padding: 0;
}

.link-bannar-space {
    display: block;
    clear: both;
}


#link-box a {
}

#featured a {
}

#featured p {
    font-size: 13px;
    color: black;
}